# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test output
*.test

# Go-specific
*.out

# Dependency directories
/vendor/

# Config files (if they contain sensitive info)
conf/app.conf

# Logs and temporary files
*.log
*.tmp

# Static files (if dynamically generated or unnecessary for the repo)
static/img/

# Ignore VSCode settings (optional)
.vscode/
