body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .nav-btn {
    background-color: transparent;
    font-size: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-btn.active {
    color: red;
    font-weight: bold;
  }
  
  .v-img {
    border-radius: 8px;
  }
  
  .v-card {
    text-align: center;
    padding: 20px;
  }
  
  .v-card-title h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .v-card-text p {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .v-carousel .v-carousel-item img {
    border-radius: 8px;
  }
  